@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #3778c2;
  --toggle-color: #316bae;
  --toggle-hover-color: #265488;
  --light-color: #e7eff9;
}
.section-title {
  text-align: center;
  color: #fff;
  padding-bottom: 50px;
}
body {
  font-family: "Roboto";
  background-color: #eee;
}
.btn {
  border-radius: 5px;
  background: transparent;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 24px;
  border: 2px solid transparent;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0 8%;
}
nav .logo {
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Lobster", cursive;
  color: #eee;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  top: 45px;
  position: absolute;
  background-image: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--toggle-hover-color)
  );
  width: 300px;
  // border: 0.1px solid var(--light-color);
  padding: 16px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  right: 8%;
  opacity: 0;
  transition: opacity 300ms linear;
  z-index: 9;
}
nav.active ul {
  opacity: 1;
}

nav li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 5px;
}
nav li a i {
  font-size: 12px;
}
nav li a:hover {
  background: var(--toggle-color);
}
.icon {
  width: 35px;
  height: 35px;

  background-color: transparent;
  border: 0;
  border-radius: 5px;
}

.icon .line {
  width: 25px;
  height: 2px;
  background: #eee;
  border: 2px;
  margin: 5px;
  transition: all 0.3s linear;
}
.icon:hover,
.icon:active,
i.icon:focus {
  background: var(--toggle-color);
}
nav.active .icon {
  background: var(--toggle-color);
}
/*   Hero Section Style   */
#section-hero {
  padding: 60px 0;
  background: var(--light-color);
  color: #333;
}
.hero {
  padding: 0 8%;
  display: flex;
  gap: 24px;
  align-items: center;
}
.hero div {
  flex: 1;
}
.hero img {
  width: 100%;
  display: block;
}
.primary-title {
  font-size: 64px;
  font-weight: 500;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 20px;
}
.hero-description {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 30px;
  opacity: 0.9;
}
.btn-fill {
  color: #fff;
  background-color: var(--primary-color);
}
.btn-fill:hover {
  background-color: var(--toggle-color);
}
.btn-outline {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.btn-outline:hover {
  background-color: #fff;
}
@media (max-width: 500px) {
  .primary-title {
    font-size: 48px;
  }
  .hero {
    flex-direction: column;
    padding: 0 10px;
  }
  .hero-text-content {
    text-align: center;
  }
  .hero-description {
    font-size: 18px;
    line-height: 1.3;
  }
  .btn {
    font-size: 15px;
    font-weight: 500;
  }
  .hero-img-content {
    padding-top: 30px;
  }
}
@media (max-width: 330px) {
  .btn {
    font-size: 16px;
    padding: 8px 16px;
    font-size: 14px;
  }
  nav ul {
    width: 270px;
  }
  .primary-title {
    font-size: 36px;
  }
  .hero-description {
    font-size: 16px;
    font-weight: 400;
  }
}

#section-card {
  padding: 60px 0;
  background: var(--primary-color);
}
#section-card .card-container {
  padding: 0 8%;
  display: flex;
  gap: 20px;
}
.card-container .box {
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--light-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s linear;
}
.card-container .box:hover {
  transform: scale(1.055);
}
.card-container .box h3 {
  padding: 10px 0 15px;
  color: #111;
}
.card-container .box p {
  opacity: 0.8;
  line-height: 1.5;
}
#work {
  padding: 60px 8%;
  background-color: var(--light-color);
}
#work h2 {
  font-size: 24px;
  color: var(--primary-color);
}
.work-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
#work .wrap {
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  // background: var(--primary-color);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
#work .wrap .wrap-content {
  padding: 10px;
  color: #fff;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  transform: translateY(100%);
  transition: transform 0.5s linear;
  background: rgba(0, 0, 0, 0.4);
}
#work .wrap:hover .wrap-content {
  transform: translateY(0);
}
#work .wrap.active .wrap-content {
  transform: translateY(0);
}
#work .wrap h3 {
  transform: translateY(-40px);
  transition: transform 0.4s linear 0.4s;
}
#work .wrap.active h3,
#work .wrap:hover h3 {
  transform: translateY(0);
}
#work .wrap.active img {
  aspect-ratio: 4/3;
}
#work .wrap .icon {
  margin-top: 5px;
  display: flex;
  gap: 5px;
}
#work .wrap .icons {
  width: 25px;
  height: 25px;
  transform: rotateY(0deg);
  transition: transform 0.3s linear 0.9s;
}
#work .wrap.active .icons,
#work .wrap:hover .icons {
  opacity: 1;
  transform: rotateY(180deg);
}
#work .wrap img {
  aspect-ratio: 4/3;
  object-fit: cover;
  display: block;
  width: 100%;
  transition: aspect-ratio 0.3s linear;
}
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }
  .work-container {
    grid-template-columns: 1fr;
  }
}
